.login{
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top:100px;
    padding-bottom: 100px;
}

.login>img{
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login>form{
    display: flex;
    flex-direction: column;
}

.login>form>input{
    height: 50px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.login>form>button{
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #0A66C2;
    color: white;
    font-size: 20px;
}

.login__register{
    cursor: pointer;
    margin-left: 5px;
    color:#0A66C2;
}